apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: sample-http
  name: {{resourcename}}
  namespace: {{namespace}}
spec:
  replicas: {{replica}}
  selector:
    matchLabels:
      app: sample-http
  template:
    metadata:
      labels:
        app: sample-http
    spec:
      containers:
      - image: httpd
        name: httpd
